@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2')
       url('fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff')
       
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2')
       url('fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff')
      
}

/*Общие стили*/

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Хэдэр главной*/

.main-header {
  background-color: #c4dbe9;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;

  background-color: white;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-introduction {
  text-align: center;
}



/*Основное содержание*/

.about {
  text-align: center;
}

.spaces,
.other-causes-list {
  list-style: none;
}

.true-city,
.spaces-item,
.devil-bridge,
.causes-list-item {
  text-align: center;
}

.main-subtitle {
  color: black;
  font-size: 21px;
  line-height: 21px;
}

.true-city,
.devil-bridge,
.true-city h2,
.devil-bridge h2 {
  background-color: #81b3d2;
  color: white;
}

.other-causes {
  background-color: #eeeeee;
}

.search {
  text-align: center;
}

.search-interest {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.search-form label {
  color: black;
  font-weight: bold;
  line-height: 26px;
}

.button {
  font-size: 21px;
  font-weight: bold;

  color: white;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.search-button {
  background-color: #766357;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.submit-button {
  background-color: #81b3d2;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #669ec0;
}

.submit-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}




/*Футер главной*/

.main-footer a {
  font-size: 21px;
  font-weight: bold;
  color: black;
  line-height: 26px;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);;
}

.socials {
  text-align: center;
}

.social-pages {
  list-style: none;
}

.social-item a {
  background-color: #81b3d2;
}

.social-item a:hover,
.social-item a:focus {
  background-color: #669ec0;
}

.social-item a:active {
  background-color: #5496bd;
}



/*Модальное окно*/

.modal {
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  text-align: center;
}

.search-form-item input {
  font-size: 14px;
  font-weight: bold;

  color: black;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

::placeholder {
  font-size: 14px;
  font-weight: bold;

  color: black;
  text-transform: uppercase;
}

.search-form-item input:hover {
  background-color: #ebebeb;
}

.search-form-item input:focus {
  background-color: transparent;
  border: 2px solid #ebebeb;
}


/*Хэдэр страницы отелей*/

.page-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;

  background-color: white;
}

.navigation-item-active a,
.navigation-item-active a:hover,
.navigation-item-active a:focus,
.navigation-item-active a:active {
  color: #766357;
}


/*Основное содержание страницы отрелей*/

.hotels-filter {
  background-image: url("../img/blur-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  color: white;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.hotels-filter legend {
  font-size: 16px;
  font-weight: bold;
}

.filter-option,
.filter-list,
.hotels-list {
  list-style: none;
}

.hotels-filter fieldset {
  border: none;
}

.filter-button {
  background-color: transparent;
  border: 2px solid white;

  font-size: 14px;
  font-weight: normal;
}

.filter-button:hover,
.filter-button:focus {
  background-color: white;
  color: black;
}

.filter-stroke p:first-child {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.filter-stroke p:nth-child(2),
.filter-stroke li {
  font-size: 12px;
  line-height: 18px;
}

.filter-stroke a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: #81b3d2 dotted underline;
}

.filter-stroke a:hover,
.filter-stroke a:focus {
  color: #81b3d2;
}

.filter-stroke a:active {
  color: black;
  text-decoration: none;
}

.filter-stroke .active,
.filter-stroke .active:active {
  color: #81b3d2;
  text-decoration: none;
}

.hotels-list h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: black;
}
.hotels-list h3:hover,
.hotels-list h3:focus {
  color: #81b3d2;
}

.hotels-list h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-item p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.hotel-item .rate {
  color: #666666;
  background-color: #f2f2f2;
}

.info-button {
  background-color: #81b3d2;
  font-size: 14px;
}

.info-button:hover,
.info-button:focus {
  background-color: #669ec0;
}

.info-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.to-book-button {
  background-color: #766357;
  font-size: 14px;
}

.to-book-button:hover,
.to-book-button:focus {
  background-color: #604e43;
}

.to-book-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

/*Футер страницы отелей*/

